# Google OAuth Configuration
# Get your Client ID from: https://console.cloud.google.com/
# 
# Steps:
# 1. Go to Google Cloud Console (https://console.cloud.google.com/)
# 2. Create a new project or select an existing one
# 3. Enable the Google+ API
# 4. Go to Credentials -> Create OAuth 2.0 Client ID
# 5. Select "Web application"
# 6. Add http://localhost:5173 to Authorized JavaScript origins
# 7. Copy the Client ID

VITE_GOOGLE_CLIENT_ID=YOUR_GOOGLE_CLIENT_ID_HERE
